body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:90px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u2 {
  position:absolute;
  left:30px;
  top:6px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
