body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u119 {
  position:absolute;
  left:60px;
  top:70px;
  width:170px;
  height:170px;
}
#u120 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:32px;
}
#u122_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:38px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:37px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u125 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u126 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:32px;
  font-size:14px;
}
#u127 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u128 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:32px;
}
#u129 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u130 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:32px;
}
#u131 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u132 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:32px;
}
#u133 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:400px;
  top:32px;
  width:100px;
  height:96px;
  visibility:hidden;
}
#u134_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:102px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:101px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u137 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u138 {
  position:absolute;
  left:0px;
  top:32px;
  width:100px;
  height:32px;
}
#u139 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u140 {
  position:absolute;
  left:0px;
  top:64px;
  width:100px;
  height:32px;
}
#u141 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
