body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:200px;
  top:0px;
  width:500px;
  height:32px;
}
#u1_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:38px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:37px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u5 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:32px;
  font-size:14px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u7 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:32px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u9 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:32px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u11 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:32px;
  width:100px;
  height:128px;
  visibility:hidden;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:134px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:133px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  font-size:14px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:32px;
  width:100px;
  height:32px;
  font-size:14px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:64px;
  width:100px;
  height:32px;
  font-size:14px;
}
#u20 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:96px;
  width:100px;
  height:32px;
  font-size:14px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:190px;
}
#u23 {
  position:absolute;
  left:300px;
  top:110px;
  width:340px;
  height:190px;
}
#u24 {
  position:absolute;
  left:2px;
  top:87px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1551px;
}
#u25 {
  position:absolute;
  left:959px;
  top:0px;
  width:1px;
  height:1550px;
}
#u26 {
  position:absolute;
  left:2px;
  top:767px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
