body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u96 {
  position:absolute;
  left:100px;
  top:120px;
  width:170px;
  height:170px;
}
#u97 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:32px;
}
#u99_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:38px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:37px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u103 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:32px;
  font-size:14px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u105 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:32px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u107 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:32px;
}
#u108 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u109 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:32px;
}
#u110 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:400px;
  top:32px;
  width:100px;
  height:96px;
  visibility:hidden;
}
#u111_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:102px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:101px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u114 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u115 {
  position:absolute;
  left:0px;
  top:32px;
  width:100px;
  height:32px;
}
#u116 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u117 {
  position:absolute;
  left:0px;
  top:64px;
  width:100px;
  height:32px;
}
#u118 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
